.canvas {
  background: #3366cc;
  margin: 0px;
  padding: 0px;
  width: 1528px;
  height: 720px;
  overflow: hidden;
  cursor: none;
}

.container {
  margin: 0 auto;
  margin-top: 100px;
  position: relative;
}

#carousel {
  perspective: 1200px;
  background: #ffffff;
  padding-top: 100px;
  font-size: 0;
  overflow: hidden;
}
#spinner {
  transform-style: preserve-3d;
  height: 400px;
  transform-origin: 50% 50% -500px;
  transition: 1s;
}
#spinner img {
  width: 60%;
  max-width: 525px;
  position: absolute;
  left: 30%;
  transform-origin: 50% 50% -500px;
  outline: 1px solid transparent;
}

#spinner img:nth-child(1) {
  transform: rotateY(0deg);
}
#spinner img:nth-child(2) {
  transform: rotateY(-90deg);
}
#spinner img:nth-child(3) {
  transform: rotateY(-180deg);
}
#spinner img:nth-child(4) {
  transform: rotateY(-270deg);
}

#carousel span {
  color: #fff;
  margin: 5%;
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  transition: 0.6s color;
  position: relative;
  border-bottom: none;
  line-height: 0;
}
#carousel span:hover {
  color: #888;
  cursor: pointer;
}

.ss-icon {
  color: black;
  font-size: 50px;
}

.ss-icon:hover {
  color: red;
}

.button {
  position: absolute;
  top: 54%;
  left: 10%;
  width: 1200px;
}
